/* fonts */
@font-face {
  font-family: "Philibert";
  src: url("./fonts/PhiliItaRus.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "NatPark";
  src: url('./fonts/SchibstedGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "NatPark";
  src: url("./fonts/NationalPark-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Panchi";
  src: url("./fonts/Panchi\ Mono.otf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root{
    

    --off-white: #FFF1F4;
    --off-black:#2E2D2D;
    --light-gray:#b8b8b8;
    --mid-gray:#4a4949;
    --dark-pink:#ad2a6b;
    --pink:#ffcaf4;
    --light-pink:#fbddf4;

    --small-space: -.03ch;
    --large-space:.05ch;

}




/* big */
body{
    background-color: var(--off-white);
    font-family: 'NatPark';
    font-size: 1.5rem;
    color:var(--off-black);
    
}
main{
    display:flex;
    flex-direction: column;

}
article{
    padding-inline:1rem;
}




/* header */
header{
    background-color: var(--pink);
    text-align: center;
    padding-inline:1rem;
    padding-block:1rem;
    border-block-end:.17rem dashed var(--off-black);
}
h1{
    font-family: 'Philibert';
    font-weight:400;
    line-height:2.75rem;
    font-size:2.5rem;
    text-align: center;
    padding-block:1rem;
    text-wrap:balanced;
    text-transform:uppercase;
    letter-spacing:var(--large-space);


}
h1::before{
    content:"\201C";
    font-size:4rem;

}
h1::after{
    content:"\201D";
    font-size:4rem;
}
h2{
    font-family: 'Philibert';
    font-weight:400;
    line-height:2.2rem;
    font-size:2rem;
    text-align: center;
    padding-block:1rem;
    text-wrap:balanced;
    text-transform:uppercase;
    letter-spacing:var(--large-space);


}
h2::before{
    content:"\201C";
    font-size:3rem;

}
h2::after{
    content:"\201D";
    font-size:3rem;
}
h3{
    text-align:left;
    font-weight:400;
    letter-spacing:var(--large-space);
    color: var(--off-black);
    font-size:1.75rem;
    margin-block-end:1.25rem;
}
.myresponse h3{
    text-align:left;
    font-weight:400;
    letter-spacing:var(--large-space);
    color: var(--pink);
    font-size:1.75rem;
    margin-block:6rem 1.25rem;
}
.myresponse p{
    color:var(--off-white);
    font-weight:300;
}
p{
    font-family: 'NatPark';
    font-size: 1.1rem;
    line-height: 1.7rem;
    text-wrap:pretty;
    letter-spacing: var(--large-space);
    
}




header .sum{
    text-align:center;
    margin-block-start:2rem;
    font-size:1.1rem;

}
.sum a{
    color:var(--dark-pink);
    font-weight:500;
}
.author{
    text-align:center;
    padding-block-end:2.5rem;
    font-size:1.1rem;

}
.response-header{
    background-color: var(--mid-gray);
    text-align:center;
    border-block-start: .17rem dashed var(--pink);
    color: var(--pink);
    padding-block:4rem;
}
.response-header .sum{
    text-align:center;
    color: var(--pink);
}
#intro-small{
    padding-block-start:1rem;
    margin-block-end:3rem;
    letter-spacing:var(--large-space);
    text-align:center;
    font-size:1rem;

}




/* nav */
.nav-list{
    color: var(--off-black);
    font-size: 1rem;
    list-style:none;
    display:flex;
    margin-block:4rem 6rem;
    justify-content: space-around;
    
}
.nav-list li{
    font-size:1.2rem;
    letter-spacing: var(--large-space);
    font-weight:500;
}


a{
    color:inherit;
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
    text-underline-offset:.25rem;
    color:var(--dark-pink);
}




/* sections */
.reading-section p{
    margin-block-end:3rem;
}



/* reading */

.reading-header{
    text-align:center;
}
.sum{
    font-family:'NatPark';
    font-size:1rem;
    color: var(--off-black);
}
.reading-sum a{
    color:#ff00c8;
}



/* blockquote + aside */
blockquote{
    background-color: var(--light-pink);
    border-inline-start:.2rem solid #2E2D2D;
    margin-inline:auto;
    box-sizing:content-box;
}

blockquote p{
    font-size: 1.4rem;
    font-weight:300;
    
}

blockquote cite{
    
    font-size: 1rem;
    
}
cite{
    font-family: 'NatPark';
    font-size: 1.3rem;
    font-style:italic;
    font-weight:1000;
}

aside{
    background-color:#ffe6f8;
    border:0.1rem dashed #2E2D2D;
    
    box-sizing:content-box;
    margin-inline:auto;
    
}

aside .sec-head{
    margin-block-end: 0;
}
aside p{
    margin-block-end: 0;
    
}



/* emphasis */
strong{
   font-style:italic;
}



em{
    font-style:italic;
}


/* response */
.myresponse{
    background-color: var(--off-black);
    
}








.myresponse aside{
    background-color: var(--mid-gray);
    border-inline-start:0.2rem solid var(--pink);
    

}




/* footer */
footer{
    /* font-family: 'Fluxisch', sans-serif;  */
    font-weight: 500;
    font-size:0.75rem;
   
    background-color: var(--off-black);
    color:var(--light-gray);
    text-align: center;
}

.footer-nav .nav-item{
    color:var(--light-gray);
}



.about-section p{
    text-align:center;
    margin-block-start: 0;
}
#about-head{
    margin:0;
}
