body { 
    background-color: #FFF1F4;
    font-family: 'Geist', sans-serif; 
}

h1{
    font-family: 'Geist', sans-serif; 
    font-weight: 700;
    color: #FF808F;
}

h2{
    font-family: 'Geist Mono', monospace;
    font-weight: 500;
    color: #6C1B27;
}

p{
    font-family: 'Geist Mono', monospace;
    font-weight: 400;
    color: black;
}

footer{
    font-family: 'Geist', sans-serif; 
    font-weight: 500;
}


.title {
 
}

.author {

}

.article {

}

.response {

}